---
title: My page title
layout: layouts/base.njk
simple: simple value
---
    <h1>{{ global.currentDate() }} {{ simple }} </h1>

{% for dump_data in sitecontent %}
 data -
 {{ dump_data.Title}}
 <br/>
{% endfor %}
